/vendor/
/node_modules/

/.idea/
/.vscode/

.env
.env.local

/storage/logs/*
!/storage/logs/.gitignore

/storage/cache/*
!/storage/cache/.gitignore

/storage/uploads/*
!/storage/uploads/.gitignore

/public/uploads/*
!/public/uploads/.gitignore

/public/build/

/coverage/

/phpunit.result.cache

Thumbs.db
.DS_Store